In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tabulate import tabulate


# Read the data
INCIDENTS = '../../dataset/data-raw/incidents.csv'
POVERTYYEAY = '../../dataset/data-raw/povertyByStateYear.csv'
STATEDISHOUSE = '../../dataset/data-raw/year_state_district_house.csv'

incidents = pd.read_csv(INCIDENTS)
poverty = pd.read_csv(POVERTYYEAY)
state_district_house = pd.read_csv(STATEDISHOUSE)

/tmp/ipykernel_72497/3222265658.py:12: DtypeWarning: Columns (15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  incidents = pd.read_csv(INCIDENTS)

## First look at the data
### Columns descriptions
#### Incidents DS

| Column name               | Description                                                                                  | Notes                                   |
|---------------------------|----------------------------------------------------------------------------------------------|-----------------------------------------|
| date                      | Date of the incident YYYY-MM-DD                                                              | Split into 3 columns (year, month, day) |
| state                     | State in which the incident occurred                                                         | Converted to UPPER-CASE                 |
| city_or_county            | self-explanatory                                                                             |                                         |
| address                   | self-explanatory                                                                             |                                         |
| latitude                  | self-explanatory                                                                             |                                         |
| longitude                 | self-explanatory                                                                             |                                         |
| congressional_district    | Congressional district associated to the location                                            |                                         |
| state_house_district      | self-explanatory                                                                             |                                         |
| state_senate_district     | self-explanatory                                                                             |                                         |
| participant_age1          | Age of 1 (randomly choosen) participant                                                      |                                         |
| participant_age_group1    | Age group of 1 (randomly choosen) participant in ['Adult 18+' nan 'Teen 12-17' 'Child 0-11'] |                                         |
| participant_gender1       | Gender of 1 (randomly choosen) participant                                                   |                                         |
| min_age_participants      |                                                                                              |                                         |
| avg_age_participants      |                                                                                              |                                         |
| max_age_participants      |                                                                                              |                                         |
| n_participants_child      |                                                                                              |                                         |
| n_participants_teen       |                                                                                              |                                         |
| n_participants_adult      |                                                                                              |                                         |
| n_males                   |                                                                                              |                                         |
| n_females                 |                                                                                              |                                         |
| n_killed                  |                                                                                              |                                         |
| n_injured                 |                                                                                              |                                         |
| n_arrested                |                                                                                              |                                         |
| n_unharmed                |                                                                                              |                                         |
| n_participants            |                                                                                              |                                         |
| notes                     |                                                                                              |                                         |
| incident_characteristics1 |                                                                                              |                                         |
| incident_characteristics2 |                                                                                              |                                         |
|                           |                                                                                              |                                         |
|                           |                                                                                              |                                         |


Show an aggregate description of each column

In [2]:
for name, df in [('incidents', incidents), ('poverty', poverty), ('state_district_house', state_district_house)]:
    print(f"----- {name} head -----")
    print(tabulate(df.head(), headers='keys', tablefmt='psql'))

----- incidents head -----
+----+------------+----------------------+------------------+------------------------------------+------------+-------------+--------------------------+------------------------+-------------------------+--------------------+--------------------------+-----------------------+------------------------+------------------------+------------------------+------------------------+-----------------------+------------------------+-----------+-------------+------------+-------------+--------------+--------------+------------------+------------------------------------------------------------------------------+-------------------------------------------+--------------------------------------+
|    | date       | state                | city_or_county   | address                            |   latitude |   longitude |   congressional_district |   state_house_district |   state_senate_district |   participant_age1 | participant_age_group1   | participant_gender1   |   min_age_participants |   avg_age_participants |   max_age_participants |   n_participants_child |   n_participants_teen |   n_participants_adult |   n_males |   n_females |   n_killed |   n_injured |   n_arrested |   n_unharmed |   n_participants | notes                                                                        | incident_characteristics1                 | incident_characteristics2            |
|----+------------+----------------------+------------------+------------------------------------+------------+-------------+--------------------------+------------------------+-------------------------+--------------------+--------------------------+-----------------------+------------------------+------------------------+------------------------+------------------------+-----------------------+------------------------+-----------+-------------+------------+-------------+--------------+--------------+------------------+------------------------------------------------------------------------------+-------------------------------------------+--------------------------------------|
|  0 | 2015-05-02 | Indiana              | Indianapolis     | Lafayette Road and Pike Plaza      |    39.8322 |    -86.2492 |                        7 |                     94 |                      33 |                 19 | Adult 18+                | Male                  |                     19 |                     19 |                     19 |                      0 |                     0 |                      1 |         1 |           0 |          0 |           1 |            0 |            0 |                1 | Teen wounded while walking - Security guard at nearby carnival aided victim. | Shot - Wounded/Injured                    | nan                                  |
|  1 | 2017-04-03 | Pennsylvania         | Kane             | 5647 US 6                          |    41.6645 |    -78.7856 |                        5 |                    nan |                     nan |                 62 | Adult 18+                | Male                  |                     62 |                     62 |                     62 |                      0 |                     0 |                      1 |         1 |           0 |          1 |           0 |            0 |            0 |                1 | shot self after accident                                                     | Shot - Dead (murder, accidental, suicide) | Suicide^                             |
|  2 | 2016-11-05 | Michigan             | Detroit          | 6200 Block of East McNichols Road  |    42.419  |    -83.0393 |                       14 |                      4 |                       2 |                nan | nan                      | nan                   |                    nan |                    nan |                    nan |                    nan |                   nan |                    nan |       nan |         nan |          0 |           1 |            0 |            1 |                2 | 1 inj.                                                                       | Shot - Wounded/Injured                    | nan                                  |
|  3 | 2016-10-15 | District of Columbia | Washington       | 1000 block of Bladensburg Road, NE |    38.903  |    -76.982  |                        1 |                    nan |                     nan |                nan | Adult 18+                | Male                  |                 248339 |                 707477 |                 761203 |                      0 |                     0 |                      1 |         1 |           0 |          0 |           1 |            0 |            0 |                2 | nan                                                                          | Shot - Wounded/Injured                    | nan                                  |
|  4 | 2030-06-14 | Pennsylvania         | Pittsburgh       | California and Marshall Avenues    |    40.4621 |    -80.0308 |                       14 |                    nan |                     nan |                nan | Adult 18+                | Male                  |                    nan |                    nan |                    nan |                      0 |                     0 |                      1 |         1 |           0 |          0 |           1 |            0 |            1 |                2 | nan                                                                          | Shot - Wounded/Injured                    | Drive-by (car to street, car to car) |
+----+------------+----------------------+------------------+------------------------------------+------------+-------------+--------------------------+------------------------+-------------------------+--------------------+--------------------------+-----------------------+------------------------+------------------------+------------------------+------------------------+-----------------------+------------------------+-----------+-------------+------------+-------------+--------------+--------------+------------------+------------------------------------------------------------------------------+-------------------------------------------+--------------------------------------+
----- poverty head -----
+----+---------------+--------+---------------------+
|    | state         |   year |   povertyPercentage |
|----+---------------+--------+---------------------|
|  0 | United States |   2020 |                11.5 |
|  1 | Alabama       |   2020 |                14.8 |
|  2 | Alaska        |   2020 |                11.5 |
|  3 | Arizona       |   2020 |                12.1 |
|  4 | Arkansas      |   2020 |                15.8 |
+----+---------------+--------+---------------------+
----- state_district_house head -----
+----+--------+---------+--------------------------+------------+------------------+--------------+
|    |   year | state   |   congressional_district | party      |   candidatevotes |   totalvotes |
|----+--------+---------+--------------------------+------------+------------------+--------------|
|  0 |   1976 | ALABAMA |                        1 | REPUBLICAN |            98257 |       157170 |
|  1 |   1976 | ALABAMA |                        2 | REPUBLICAN |            90069 |       156362 |
|  2 |   1976 | ALABAMA |                        3 | DEMOCRAT   |           106935 |       108048 |
|  3 |   1976 | ALABAMA |                        4 | DEMOCRAT   |           141490 |       176022 |
|  4 |   1976 | ALABAMA |                        5 | DEMOCRAT   |           113553 |       113560 |
+----+--------+---------+--------------------------+------------+------------------+--------------+

In [3]:
for name, df in [('incidents', incidents), ('poverty', poverty), ('state_district_house', state_district_house)]:
    print(f"----- {name} non-numeric columns unique values -----")
    for col in df.select_dtypes(include=['object']).columns:
        print(f"{col}:\n\tUnique cardinality: {df[col].unique().shape[0]}\n\t{df[col].unique()}")

----- incidents non-numeric columns unique values -----
date:
	Unique cardinality: 2437
	['2015-05-02' '2017-04-03' '2016-11-05' ... '2013-07-24' '2013-12-14'
 '2013-04-18']
state:
	Unique cardinality: 51
	['Indiana' 'Pennsylvania' 'Michigan' 'District of Columbia'
 'North Carolina' 'Louisiana' 'Connecticut' 'Virginia' 'Oklahoma'
 'New York' 'Missouri' 'California' 'Texas' 'Illinois' 'Ohio' 'Washington'
 'Florida' 'South Carolina' 'Georgia' 'Massachusetts' 'Tennessee'
 'West Virginia' 'New Jersey' 'Arkansas' 'Rhode Island' 'Maine' 'Nevada'
 'Colorado' 'New Mexico' 'Maryland' 'Oregon' 'South Dakota' 'Kentucky'
 'Alabama' 'Arizona' 'Minnesota' 'Wisconsin' 'Mississippi' 'Kansas' 'Iowa'
 'Wyoming' 'Nebraska' 'Alaska' 'Utah' 'Montana' 'Hawaii' 'Delaware'
 'Idaho' 'New Hampshire' 'Vermont' 'North Dakota']
city_or_county:
	Unique cardinality: 12898
	['Indianapolis' 'Kane' 'Detroit' ... 'Emporium' 'Conecuh (county)'
 'Somerset County']
address:
	Unique cardinality: 198038
	['Lafayette Road and Pike Plaza' '5647 US 6'
 '6200 Block of East McNichols Road' ... 'Pawling and Plum Avenues'
 'Barron Ave and Pendleton St' '601 Prospect Lake Drive']
participant_age_group1:
	Unique cardinality: 4
	['Adult 18+' nan 'Teen 12-17' 'Child 0-11']
participant_gender1:
	Unique cardinality: 4
	['Male' nan 'Female' 'Male, female']
min_age_participants:
	Unique cardinality: 12674
	['19.0' '62.0' nan ... '109599' '872260' '560583']
avg_age_participants:
	Unique cardinality: 12870
	['19.0' '62.0' nan ... '307569' '586204' 'rac5t']
max_age_participants:
	Unique cardinality: 12853
	['19.0' '62.0' nan ... 'kbrx7b6r' '784934' 'lzgwvzj8uv']
n_participants_child:
	Unique cardinality: 33
	[0.0 nan 1.0 2.0 3.0 835473.0 5.0 4.0 124130.0 436587.0 '0.0' '2.0' '1.0'
 '4.0' '3.0' '6yb1lceu3v' '5.0' '6.0' '7.0' '886365.0' 'z6sp' '607874'
 '292381' '-73' '11.0' '25yerfqn6' 7.0 8.0 '-977.0' '77mw3iw3' '-884.0'
 'j34' -252.0]
n_participants_teen:
	Unique cardinality: 43
	[0.0 nan 1.0 2.0 3.0 4.0 5.0 15.0 -864.0 6.0 7.0 762487.0 -753.0 -854.0
 444036.0 '0.0' '2.0' '1.0' '3.0' '4.0' '5.0' '-138' '10.0' '6.0'
 'ymwa4vyx' '9.0' '27.0' '7.0' 'akendyt6a' 9.0 -927.0 -130.0 'x2aqam13iy'
 '445652' 'eqsa' '8.0' '-49' 'nt082ps' '-873' '-427' '-947' 'wcrt3x4'
 'p2eyl']
n_participants_adult:
	Unique cardinality: 71
	[1.0 nan 5.0 0.0 3.0 4.0 2.0 6.0 7.0 8.0 10.0 9.0 28.0 24.0 12.0 17.0 13.0
 33.0 16.0 15.0 638402.0 11.0 425457.0 29.0 18.0 -496.0 '1.0' '2.0' '4.0'
 '3.0' '0.0' '5.0' '6.0' '8.0' '7.0' '20.0' '21.0' '9.0' '11.0' 'ipw'
 '16.0' '10.0' '14.0' '12.0' '32.0' '-991' '5uw' '13.0' '-673' 22.0 27.0
 -267.0 21.0 19.0 686533.0 479961.0 30.0 298481.0 63.0 -601.0 '29.0'
 '-918' '17.0' '-622' 'jbpiz8upz' '18.0' '25.0' '827900' '15.0' -355.0
 103.0]
notes:
	Unique cardinality: 136653
	['Teen wounded while walking - Security guard at nearby carnival aided victim.'
 'shot self after accident' '1 inj.' ...
 'Tried to grab gun as it fell, shot self in foot.'
 'Record ID 22972 on Colorado Springs Police Department blotter.'
 'shot in chest during arr, birdshot from handgun, poss multiple perps']
incident_characteristics1:
	Unique cardinality: 53
	['Shot - Wounded/Injured' 'Shot - Dead (murder, accidental, suicide)'
 'Institution/Group/Business' 'Shots Fired - No Injuries'
 'Non-Shooting Incident'
 'Armed robbery with injury/death and/or evidence of DGU found'
 'Defensive Use' 'Shots fired, no action (reported, no evidence found)'
 'TSA Action' nan 'Gun(s) stolen from owner'
 'Brandishing/flourishing/open carry/lost/found' 'Accidental Shooting'
 'Possession (gun(s) found during commission of other crimes)'
 'Domestic Violence' 'Car-jacking' 'Drug involvement'
 'Attempted Murder/Suicide (one variable unsuccessful)' 'Home Invasion'
 'Pistol-whipping' 'Officer Involved Incident'
 'ATF/LE Confiscation/Raid/Arrest' 'Suicide - Attempt'
 'Kidnapping/abductions/hostage'
 'Possession of gun by felon or prohibited person' 'Gang involvement'
 'Murder/Suicide' 'Animal shot/killed'
 'Bar/club incident - in or around establishment'
 'Sex crime involving firearm' 'School Incident' 'Non-Aggression Incident'
 'Drive-by (car to street, car to car)' 'Gun buy back action'
 'Gun shop robbery or burglary'
 'Stolen/Illegally owned gun{s} recovered during arrest/warrant'
 'Guns stolen from law enforcement' 'Suicide^' 'Implied Weapon'
 'Criminal act with stolen gun'
 'Gun at school, no death/injury - elementary/secondary school'
 'Road rage' 'BB/Pellet/Replica gun'
 'LOCKDOWN/ALERT ONLY: No GV Incident Occurred Onsite'
 'Mass Shooting (4+ victims injured or killed excluding the subject/suspect/perpetrator, one location)'
 'House party' 'ShotSpotter' 'Child Involved Incident'
 'Under the influence of alcohol or drugs (only applies to the subject/suspect/perpetrator )'
 'Spree Shooting (multiple victims, multiple locations)' 'Hate crime'
 'Unlawful purchase/sale' 'Gun range/gun shop/gun show shooting']
incident_characteristics2:
	Unique cardinality: 91
	[nan 'Suicide^' 'Drive-by (car to street, car to car)' 'Home Invasion'
 'Shot - Dead (murder, accidental, suicide)' 'Non-Shooting Incident'
 'Officer Involved Incident' 'Accidental Shooting' 'House party'
 'Drug involvement' 'Possession of gun by felon or prohibited person'
 'Brandishing/flourishing/open carry/lost/found' 'Non-Aggression Incident'
 'Institution/Group/Business' 'Suicide - Attempt'
 'Armed robbery with injury/death and/or evidence of DGU found'
 'ATF/LE Confiscation/Raid/Arrest' 'Shots Fired - No Injuries'
 'Possession (gun(s) found during commission of other crimes)'
 'Defensive Use' 'Car-jacking'
 'Bar/club incident - in or around establishment'
 'LOCKDOWN/ALERT ONLY: No GV Incident Occurred Onsite'
 'Accidental/Negligent Discharge' 'Domestic Violence'
 'Kidnapping/abductions/hostage' 'Gun(s) stolen from owner'
 'Gang involvement' 'ShotSpotter' 'School Incident' 'TSA Action'
 'Child Involved Incident' 'Implied Weapon'
 'Assault weapon (AR-15, AK-47, and ALL variants defined by law enforcement)'
 'Home Invasion - No death or injury' 'BB/Pellet/Replica gun'
 'Shootout (where VENN diagram of shooters and victims overlap)'
 'Under the influence of alcohol or drugs (only applies to the subject/suspect/perpetrator )'
 'Pistol-whipping' 'Shots fired, no action (reported, no evidence found)'
 'Hate crime' 'Road rage' 'Criminal act with stolen gun'
 'Officer Involved Shooting - subject/suspect/perpetrator shot'
 'Mass Shooting (4+ victims injured or killed excluding the subject/suspect/perpetrator, one location)'
 'Officer Involved Incident - Weapon involved but no shots fired'
 'Home Invasion - Resident injured' 'Animal shot/killed'
 'Gun shop robbery or burglary'
 'Gun at school, no death/injury - elementary/secondary school'
 'Sex crime involving firearm' 'Murder/Suicide'
 'Guns stolen from law enforcement'
 'Home Invasion - subject/suspect/perpetrator injured'
 'Stolen/Illegally owned gun{s} recovered during arrest/warrant'
 'Spree Shooting (multiple victims, multiple locations)'
 'Accidental Shooting - Injury' 'Terrorism Involvement'
 'Officer Involved Shooting - subject/suspect/perpetrator killed'
 'Unlawful purchase/sale' 'Accidental Shooting - Death'
 'Officer Involved Shooting - Shots fired, no injury'
 'Workplace shooting (disgruntled employee)' 'Gun buy back action'
 'Gun at school, no death/injury - university/college'
 'Concealed Carry License - Perpetrator'
 'Gun range/gun shop/gun show shooting'
 'Attempted Murder/Suicide (one variable unsuccessful)'
 'Defensive Use - Victim stops crime' 'Ghost gun'
 'Officer Involved Shooting - Officer shot'
 'Mass Murder (4+ deceased victims excluding the subject/suspect/perpetrator , one location)'
 'Home Invasion - Resident killed'
 'Officer Involved Shooting - subject/suspect/perpetrator surrender at standoff'
 'Concealed Carry License - Victim'
 'Officer Involved Shooting - Officer killed'
 'Officer Involved Shooting - subject/suspect/perpetrator unarmed'
 'Defensive Use - WITHOUT a gun'
 'Home Invasion - subject/suspect/perpetrator killed'
 'School Shooting - elementary/secondary school'
 'Child picked up & fired gun' 'Police Targeted'
 'Accidental Shooting at a Business' 'Political Violence'
 'Officer Involved Shooting - Accidental discharge - no injury required'
 'Defensive Use - Shots fired, no injury/death' 'Cleaning gun'
 'Child with gun - no shots fired'
 'Defensive Use - Crime occurs, victim shoots subject/suspect/perpetrator'
 'Officer Involved Shooting - subject/suspect/perpetrator suicide at standoff'
 'Hunting accident']
----- poverty non-numeric columns unique values -----
state:
	Unique cardinality: 52
	['United States' 'Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'District of Columbia' 'Florida'
 'Georgia' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada'
 'New Hampshire' 'New Jersey' 'New Mexico' 'New York' 'North Carolina'
 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island'
 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont'
 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']
----- state_district_house non-numeric columns unique values -----
state:
	Unique cardinality: 51
	['ALABAMA' 'ALASKA' 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DELAWARE' 'FLORIDA' 'GEORGIA' 'HAWAII' 'IDAHO' 'ILLINOIS'
 'INDIANA' 'IOWA' 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE' 'MARYLAND'
 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI' 'MISSOURI' 'MONTANA'
 'NEBRASKA' 'NEVADA' 'NEW HAMPSHIRE' 'NEW JERSEY' 'NEW MEXICO' 'NEW YORK'
 'NORTH CAROLINA' 'NORTH DAKOTA' 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA'
 'RHODE ISLAND' 'SOUTH CAROLINA' 'SOUTH DAKOTA' 'TENNESSEE' 'TEXAS' 'UTAH'
 'VERMONT' 'VIRGINIA' 'WASHINGTON' 'WEST VIRGINIA' 'WISCONSIN' 'WYOMING'
 'DISTRICT OF COLUMBIA']
party:
	Unique cardinality: 6
	['REPUBLICAN' 'DEMOCRAT' 'FOGLIETTA (DEMOCRAT)' 'DEMOCRATIC-FARMER-LABOR'
 'INDEPENDENT' 'INDEPENDENT-REPUBLICAN']

In [4]:
a = incidents[(incidents['participant_age_group1'] == 'Child 0-11') * ((incidents['participant_age1'] < 0) + (incidents['participant_age1'] > 11))][['participant_age_group1', 'participant_age1']]
# print(tabulate(a, headers='keys', tablefmt='psql'))
a

       participant_age_group1  participant_age1
13962              Child 0-11              30.0
17158              Child 0-11              23.0
19698              Child 0-11              32.0
24884              Child 0-11              16.0
28051              Child 0-11              46.0
32812              Child 0-11              63.0
47356              Child 0-11              48.0
48265              Child 0-11              57.0
52784              Child 0-11              18.0
55558              Child 0-11              48.0
56648              Child 0-11              23.0
62997              Child 0-11              28.0
72454              Child 0-11              21.0
76545              Child 0-11              30.0
79824              Child 0-11              15.0
82856              Child 0-11              33.0
83006              Child 0-11              35.0
88763              Child 0-11              18.0
95797              Child 0-11              25.0
103624             Child 0-11              33.0
110612             Child 0-11              31.0
113610             Child 0-11              58.0
114186             Child 0-11              12.0
118609             Child 0-11              26.0
122064             Child 0-11              21.0
130572             Child 0-11              39.0
133551             Child 0-11              45.0
134123             Child 0-11              30.0
139068             Child 0-11              25.0
140140             Child 0-11              18.0
141581             Child 0-11              20.0
142277             Child 0-11              22.0
165494             Child 0-11              29.0
172774             Child 0-11              21.0
183761             Child 0-11              25.0
183837             Child 0-11              26.0
194450             Child 0-11              23.0
201718             Child 0-11              20.0
202201             Child 0-11              30.0
202281             Child 0-11              33.0
204060             Child 0-11              20.0
212790             Child 0-11              23.0
214360             Child 0-11              17.0
220515             Child 0-11              37.0
224652             Child 0-11              25.0
225657             Child 0-11              59.0
238276             Child 0-11              22.0

In [5]:

incidents['state'] = incidents['state'].str.upper()
poverty['state'] = poverty['state'].str.upper()
state_district_house['state'] = state_district_house['state'].str.upper()

incidents['date_year'] = incidents['date'].str.split('-').str[0].astype(int)
incidents['date_month'] = incidents['date'].str.split('-').str[1].astype(int)
incidents['date_day'] = incidents['date'].str.split('-').str[2].astype(int)
del incidents['date']

# reorder columns with date_year, date_month, date_day at the start
cols = list(incidents.columns.values)
cols.pop(cols.index('date_year'))
cols.pop(cols.index('date_month'))
cols.pop(cols.index('date_day'))
incidents = incidents[['date_year', 'date_month', 'date_day'] + cols]

In [6]:
for name, df in [('incidents', incidents), ('poverty', poverty), ('state_district_house', state_district_house)]:
    df = df.copy()
    print(f"----- {name} summary -----")
    print(f"records: {df.shape[0]}")
    colsumpd = pd.DataFrame(index=df.columns)
    colsumpd['not_null'] = df.notnull().sum()
    colsumpd['unique'] = df.nunique()
    colsumpd['null_count'] = df.isnull().sum()
    colsumpd['null_perc'] = (colsumpd['null_count'] / df.shape[0] * 100).round(2)
    colsumpd['type'] = (df.dtypes.astype(str)).str.upper()
    numeric_df = df.apply(pd.to_numeric, errors='coerce').describe()
    numeric_df.index = ['numeric_' + str(row) for row in numeric_df.index]
    # round all values of numeric_df to 4 decimal places
    numeric_df = numeric_df.round(4)
    # merge the two dataframes on common columns
    colsumpd = pd.merge(colsumpd, numeric_df.T, left_index=True, right_index=True, how='outer')
    colsumpd['not_num_count'] = colsumpd['not_null'] - colsumpd['numeric_count']
    colsumpd['not_num_perc'] = (colsumpd['not_num_count'] / colsumpd['not_null'] * 100).round(2)
    print(tabulate(colsumpd.T, headers='keys', tablefmt='pipe', numalign='left', stralign='left'))

----- incidents summary -----
records: 239677
|               | date_year   | date_month   | date_day   | state    | city_or_county   | address   | latitude   | longitude   | congressional_district   | state_house_district   | state_senate_district   | participant_age1   | participant_age_group1   | participant_gender1   | min_age_participants   | avg_age_participants   | max_age_participants   | n_participants_child   | n_participants_teen   | n_participants_adult   | n_males   | n_females   | n_killed   | n_injured   | n_arrested   | n_unharmed   | n_participants   | notes          | incident_characteristics1   | incident_characteristics2   |
|:--------------|:------------|:-------------|:-----------|:---------|:-----------------|:----------|:-----------|:------------|:-------------------------|:-----------------------|:------------------------|:-------------------|:-------------------------|:----------------------|:-----------------------|:-----------------------|:-----------------------|:-----------------------|:----------------------|:-----------------------|:----------|:------------|:-----------|:------------|:-------------|:-------------|:-----------------|:---------------|:----------------------------|:----------------------------|
| not_null      | 239677      | 239677       | 239677     | 239677   | 239677           | 223180    | 231754     | 231754      | 227733                   | 200905                 | 207342                  | 147379             | 197558                   | 203315                | 164879                 | 165057                 | 164969                 | 197573                 | 197578                | 197575                 | 203315    | 203315      | 239677     | 239677      | 212051       | 212051       | 239677           | 158660         | 239351                      | 141931                      |
| unique        | 9           | 12           | 31         | 51       | 12898            | 198037    | 101240     | 112347      | 54                       | 275                    | 68                      | 103                | 3                        | 3                     | 12673                  | 12869                  | 12852                  | 32                     | 42                    | 70                     | 27        | 15          | 16         | 23          | 31           | 17           | 37               | 136652         | 52                          | 90                          |
| null_count    | 0           | 0            | 0          | 0        | 0                | 16497     | 7923       | 7923        | 11944                    | 38772                  | 32335                   | 92298              | 42119                    | 36362                 | 74798                  | 74620                  | 74708                  | 42104                  | 42099                 | 42102                  | 36362     | 36362       | 0          | 0           | 27626        | 27626        | 0                | 81017          | 326                         | 97746                       |
| null_perc     | 0.0         | 0.0          | 0.0        | 0.0      | 0.0              | 6.88      | 3.31       | 3.31        | 4.98                     | 16.18                  | 13.49                   | 38.51              | 17.57                    | 15.17                 | 31.21                  | 31.13                  | 31.17                  | 17.57                  | 17.56                 | 17.57                  | 15.17     | 15.17       | 0.0        | 0.0         | 11.53        | 11.53        | 0.0              | 33.8           | 0.14                        | 40.78                       |
| type          | INT64       | INT64        | INT64      | OBJECT   | OBJECT           | OBJECT    | FLOAT64    | FLOAT64     | FLOAT64                  | FLOAT64                | FLOAT64                 | FLOAT64            | OBJECT                   | OBJECT                | OBJECT                 | OBJECT                 | OBJECT                 | OBJECT                 | OBJECT                | OBJECT                 | FLOAT64   | FLOAT64     | INT64      | INT64       | FLOAT64      | FLOAT64      | FLOAT64          | OBJECT         | OBJECT                      | OBJECT                      |
| numeric_count | 239677.0    | 239677.0     | 239677.0   | 0.0      | 0.0              | 4.0       | 231754.0   | 231754.0    | 227733.0                 | 200905.0               | 207342.0                | 147379.0           | 0.0                      | 0.0                   | 159126.0               | 159168.0               | 159084.0               | 197568.0               | 197571.0              | 197572.0               | 203315.0  | 203315.0    | 239677.0   | 239677.0    | 212051.0     | 212051.0     | 239677.0         | 11.0           | 0.0                         | 0.0                         |
| numeric_mean  | 2017.1519   | 6.3525       | 15.7796    | nan      | nan              | 2725.0    | 37.5466    | -89.3383    | 8.0013                   | 55.4471                | 20.4771                 | 30.2957            | nan                      | nan                   | 5674359.4088           | 24461.8132             | 18714.0624             | 16.122                 | 8.4619                | 18.516                 | 1.5203    | 0.2123      | 0.2523     | 0.494       | 0.4684       | 0.4942       | 1.6369           | 480435229.9436 | nan                         | nan                         |
| numeric_std   | 4.1458      | 3.4482       | 8.8269     | nan      | nan              | 2282.3599 | 5.1308     | 14.3595     | 8.4808                   | 42.0481                | 14.2046                 | 13.3636            | nan                      | nan                   | 2256170560.4281        | 2199488.5379           | 107152.7198            | 3294.7178              | 2223.9258             | 3232.7162              | 0.9968    | 0.4909      | 0.5218     | 0.73        | 0.851        | 0.9256       | 1.2525           | 787777420.8168 | nan                         | nan                         |
| numeric_min   | 2013.0      | 1.0          | 1.0        | nan      | nan              | 700.0     | 19.1114    | -171.429    | 0.0                      | 1.0                    | 1.0                     | 0.0                | nan                      | nan                   | -1000.0                | -1000.0                | -1000.0                | -977.0                 | -947.0                | -991.0                 | 0.0       | 0.0         | 0.0        | 0.0         | 0.0          | 0.0          | 0.0              | 0.38           | nan                         | nan                         |
| numeric_25%   | 2015.0      | 3.0          | 8.0        | nan      | nan              | 1675.0    | 33.9034    | -94.1587    | 2.0                      | 21.0                   | 9.0                     | 21.0               | nan                      | nan                   | 19.0                   | 21.0                   | 21.0                   | 0.0                    | 0.0                   | 1.0                    | 1.0       | 0.0         | 0.0        | 0.0         | 0.0          | 0.0          | 1.0              | 2.0            | nan                         | nan                         |
| numeric_50%   | 2016.0      | 6.0          | 16.0       | nan      | nan              | 2100.0    | 38.5706    | -86.2496    | 5.0                      | 47.0                   | 19.0                    | 27.0               | nan                      | nan                   | 25.0                   | 27.0                   | 28.0                   | 0.0                    | 0.0                   | 1.0                    | 1.0       | 0.0         | 0.0        | 0.0         | 0.0          | 0.0          | 1.0              | 90650.0        | nan                         | nan                         |
| numeric_75%   | 2017.0      | 9.0          | 23.0       | nan      | nan              | 3150.0    | 41.4374    | -80.0486    | 10.0                     | 84.0                   | 30.0                    | 37.0               | nan                      | nan                   | 35.0                   | 37.0                   | 40.0                   | 0.0                    | 0.0                   | 2.0                    | 2.0       | 0.0         | 0.0        | 1.0         | 1.0          | 1.0          | 2.0              | 937660073.5    | nan                         | nan                         |
| numeric_max   | 2030.0      | 12.0         | 31.0       | nan      | nan              | 6000.0    | 71.3368    | 97.4331     | 53.0                     | 901.0                  | 94.0                    | 311.0              | nan                      | nan                   | 900000000000.0         | 871916284.0            | 8300000.0              | 886365.0               | 762487.0              | 827900.0               | 61.0      | 23.0        | 50.0       | 53.0        | 63.0         | 20.0         | 103.0            | 1705030148.0   | nan                         | nan                         |
| not_num_count | 0.0         | 0.0          | 0.0        | 239677.0 | 239677.0         | 223176.0  | 0.0        | 0.0         | 0.0                      | 0.0                    | 0.0                     | 0.0                | 197558.0                 | 203315.0              | 5753.0                 | 5889.0                 | 5885.0                 | 5.0                    | 7.0                   | 3.0                    | 0.0       | 0.0         | 0.0        | 0.0         | 0.0          | 0.0          | 0.0              | 158649.0       | 239351.0                    | 141931.0                    |
| not_num_perc  | 0.0         | 0.0          | 0.0        | 100.0    | 100.0            | 100.0     | 0.0        | 0.0         | 0.0                      | 0.0                    | 0.0                     | 0.0                | 100.0                    | 100.0                 | 3.49                   | 3.57                   | 3.57                   | 0.0                    | 0.0                   | 0.0                    | 0.0       | 0.0         | 0.0        | 0.0         | 0.0          | 0.0          | 0.0              | 99.99          | 100.0                       | 100.0                       |
----- poverty summary -----
records: 884
|               | state   | year      | povertyPercentage   |
|:--------------|:--------|:----------|:--------------------|
| not_null      | 884     | 884       | 832                 |
| unique        | 52      | 17        | 146                 |
| null_count    | 0       | 0         | 52                  |
| null_perc     | 0.0     | 0.0       | 5.88                |
| type          | OBJECT  | INT64     | FLOAT64             |
| numeric_count | 0.0     | 884.0     | 832.0               |
| numeric_mean  | nan     | 2011.9989 | 12.5358             |
| numeric_std   | nan     | 4.9023    | 3.2052              |
| numeric_min   | nan     | 2004.0    | 5.4                 |
| numeric_25%   | nan     | 2008.0    | 10.2                |
| numeric_50%   | nan     | 2012.0    | 12.0                |
| numeric_75%   | nan     | 2016.0    | 14.7                |
| numeric_max   | nan     | 2020.0    | 21.8                |
| not_num_count | 884.0   | 0.0       | 0.0                 |
| not_num_perc  | 100.0   | 0.0       | 0.0                 |
----- state_district_house summary -----
records: 10441
|               | year     | state   | congressional_district   | party   | candidatevotes   | totalvotes   |
|:--------------|:---------|:--------|:-------------------------|:--------|:-----------------|:-------------|
| not_null      | 10441    | 10441   | 10441                    | 10441   | 10441            | 10441        |
| unique        | 24       | 51      | 54                       | 6       | 9927             | 10033        |
| null_count    | 0        | 0       | 0                        | 0       | 0                | 0            |
| null_perc     | 0.0      | 0.0     | 0.0                      | 0.0     | 0.0              | 0.0          |
| type          | INT64    | OBJECT  | INT64                    | OBJECT  | INT64            | INT64        |
| numeric_count | 10441.0  | 0.0     | 10441.0                  | 0.0     | 10441.0          | 10441.0      |
| numeric_mean  | 1999.002 | nan     | 9.8731                   | nan     | 134527.5888      | 207642.2274  |
| numeric_std   | 13.8459  | nan     | 10.0171                  | nan     | 51607.2058       | 82626.4323   |
| numeric_min   | 1976.0   | nan     | 0.0                      | nan     | -1.0             | -1.0         |
| numeric_25%   | 1988.0   | nan     | 3.0                      | nan     | 100487.0         | 155451.0     |
| numeric_50%   | 2000.0   | nan     | 6.0                      | nan     | 129085.0         | 200445.0     |
| numeric_75%   | 2012.0   | nan     | 13.0                     | nan     | 165371.0         | 255577.0     |
| numeric_max   | 2022.0   | nan     | 53.0                     | nan     | 1165136.0        | 2656104.0    |
| not_num_count | 0.0      | 10441.0 | 0.0                      | 10441.0 | 0.0              | 0.0          |
| not_num_perc  | 0.0      | 100.0   | 0.0                      | 100.0   | 0.0              | 0.0          |

### Results
#### incidents dataframe

1. NAN analysis
    - Most columns are `poisoned` with NANs
    - The worst columns are `(min|avg|max)_age_participants`, with +30% of NANs
2. Types analysis
    - `(min|avg|max)_age_participants` and `n_participants_(child|teen|adult)` are classified as `object` but they should have a numeric dtype. This suggests a mix of types
    - `(min|avg|max)_age_participants` have roughly 3.5% of non-numeric non-NAN values. This values are not convertible to numeric.
3. Range analysis
    - `date_year` max value is in the future.
    - The min-max values of the columns `[participant_age1, (min|avg|max)_age_participants, n_participants_(child|teen|adult)]` are beyond the expected ranges.

#### poverty / state_district_house dataframes

This dataframes do not raise any red flags on this preliminary analysis.

## Columns filter
Select which columns to keep for the analysis
### Incidents
We keep `['date', 'state', 'city_or_county', 'latitude', 'longitude', 'congressional_district', 'n_participants_child', 'n_participants_teen', 'n_participants_adult', 'n_males', 'n_females', 'n_killed', 'n_injured', 'n_arrested', 'n_unharmed', 'n_participants', 'incident_characteristics1']`
### Poverty
We keep everything
### State District House
We keep everything

In [131]:
fincidents = incidents[['date', 'state', 'city_or_county', 'latitude', 'longitude', 'congressional_district', 'n_participants_child', 'n_participants_teen', 'n_participants_adult', 'n_males', 'n_females', 'n_killed', 'n_injured', 'n_arrested', 'n_unharmed', 'n_participants', 'incident_characteristics1']].copy()
print(f"All rows count: {fincidents.shape[0]}")
fincidents = fincidents[fincidents['n_participants'] != 0]
print(f"Zero participants removed: {fincidents.shape[0]}")
# fincidents[~fincidents.isna().any(axis=1)]
na_counts = fincidents.isna().sum(axis=1)

print(f"nan percentages:\n{na_counts.value_counts().sort_index() / fincidents.shape[0] * 100}")

fincidents[(na_counts > 6)]

All rows count: 239677
Zero participants removed: 214814
nan percentages:
0     84.764494
1      1.437057
2      2.443975
3      7.568874
4      0.114518
5      2.872718
6      0.188070
7      0.522312
8      0.085190
10     0.002793
Name: count, dtype: float64

,date,state,city_or_county,latitude,longitude,congressional_district,n_participants_child,n_participants_teen,n_participants_adult,n_males,n_females,n_killed,n_injured,n_arrested,n_unharmed,n_participants,incident_characteristics1
44,2014-10-25,MICHIGAN,Clarkston,42.7313,-83.3795,8.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Institution/Group/Business
172,2014-08-15,FLORIDA,Poinciana,28.1418,-81.4501,9.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,2.0,Armed robbery with injury/death and/or evidenc...
579,2015-04-20,ILLINOIS,Rockford,42.3014,-89.0912,17.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,2.0,Shots Fired - No Injuries
617,2014-05-21,ILLINOIS,Sterling,41.7922,-89.7334,17.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Armed robbery with injury/death and/or evidenc...
1394,2014-05-16,IOWA,Cedar Rapids,41.9841,-91.6276,1.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Armed robbery with injury/death and/or evidenc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238003,2015-03-08,SOUTH CAROLINA,Rock Hill,34.9169,-81.0107,5.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Officer Involved Incident
238871,2014-01-15,WISCONSIN,Milwaukee,43.0898,-87.9807,4.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Armed robbery with injury/death and/or evidenc...
239116,2014-01-06,NEW JERSEY,Bridgeton,39.4245,-75.2413,2.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Home Invasion
239261,2016-09-16,KENTUCKY,Louisville,38.2662,-85.8157,3.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Non-Shooting Incident
239346,2018-02-20,ILLINOIS,Carterville,37.7575,-89.0735,12.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Shots Fired - No Injuries