In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the data
INCIDENTS = '../../dataset/data-raw/incidents.csv'
POVERTYYEAY = '../../dataset/data-raw/povertyByStateYear.csv'
STATEDISHOUSE = '../../dataset/data-raw/year_state_district_house.csv'

incidents = pd.read_csv(INCIDENTS)
poverty = pd.read_csv(POVERTYYEAY)
state_district_house = pd.read_csv(STATEDISHOUSE)

incidents['state'] = incidents['state'].str.upper()
poverty['state'] = poverty['state'].str.upper()
state_district_house['state'] = state_district_house['state'].str.upper()

/tmp/ipykernel_4270/4112513518.py:10: DtypeWarning: Columns (15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  incidents = pd.read_csv(INCIDENTS)

## First look at the data
Show an aggregate description of each column

In [ ]:
a = incidents.apply(lambda x: x.apply(lambda y: y if type(y) == str else np.nan))

In [115]:
# change all dtypes to object
a = a.astype(str)
a.describe()

,date,state,city_or_county,address,latitude,longitude,congressional_district,state_house_district,state_senate_district,participant_age1,...,n_males,n_females,n_killed,n_injured,n_arrested,n_unharmed,n_participants,notes,incident_characteristics1,incident_characteristics2
count,239677,239677,239677,239677,239677,239677,239677,239677,239677,239677,...,239677,239677,239677,239677,239677,239677,239677,239677,239677,239677
unique,2437,51,12898,198038,1,1,1,1,1,1,...,1,1,1,1,1,1,1,136653,53,91
top,2017-01-01,ILLINOIS,Chicago,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,Shot - Wounded/Injured,nan
freq,342,17556,10814,16497,239677,239677,239677,239677,239677,239677,...,239677,239677,239677,239677,239677,239677,239677,81017,93926,97746

In [116]:
from tabulate import tabulate
for name, df in [('incidents', incidents), ('poverty', poverty), ('state_district_house', state_district_house)]:
    df = df.copy()
    print(f"----- {name} summary -----")
    print(f"records: {df.shape[0]}")
    colsumpd = pd.DataFrame(index=df.columns)
    colsumpd['not_null'] = df.notnull().sum()
    colsumpd['unique'] = df.nunique()
    colsumpd['null_count'] = df.isnull().sum()
    colsumpd['null_perc'] = (colsumpd['null_count'] / df.shape[0] * 100).round(2)
    colsumpd['type'] = (df.dtypes.astype(str)).str.upper()
    numeric_df = df.apply(pd.to_numeric, errors='coerce').describe()
    numeric_df.index = ['numeric_' + str(row) for row in numeric_df.index]
    not_num_df = df.apply(lambda x: x.apply(lambda y: y if type(y) == str else np.nan)).astype(str).describe()
    not_num_df.index = ['not_num_' + str(row) for row in not_num_df.index]
    # round all values of numeric_df to 4 decimal places
    numeric_df = numeric_df.round(4)
    # merge the two dataframes on common columns
    colsumpd = pd.merge(colsumpd, numeric_df.T, left_index=True, right_index=True, how='outer')
    colsumpd = pd.merge(colsumpd, not_num_df.T, left_index=True, right_index=True, how='outer')
    print(tabulate(colsumpd.T, headers='keys', tablefmt='pipe', numalign='left', stralign='left'))
    # for col in df.columns:
    #     print(f"{col}: {df[col].isnull().sum()}")

----- incidents summary -----
records: 239677
|                | date       | state    | city_or_county   | address   | latitude   | longitude   | congressional_district   | state_house_district   | state_senate_district   | participant_age1   | participant_age_group1   | participant_gender1   | min_age_participants   | avg_age_participants   | max_age_participants   | n_participants_child   | n_participants_teen   | n_participants_adult   | n_males   | n_females   | n_killed   | n_injured   | n_arrested   | n_unharmed   | n_participants   | notes          | incident_characteristics1   | incident_characteristics2   |
|:---------------|:-----------|:---------|:-----------------|:----------|:-----------|:------------|:-------------------------|:-----------------------|:------------------------|:-------------------|:-------------------------|:----------------------|:-----------------------|:-----------------------|:-----------------------|:-----------------------|:----------------------|:-----------------------|:----------|:------------|:-----------|:------------|:-------------|:-------------|:-----------------|:---------------|:----------------------------|:----------------------------|
| not_null       | 239677     | 239677   | 239677           | 223180    | 231754     | 231754      | 227733                   | 200905                 | 207342                  | 147379             | 197558                   | 203315                | 164879                 | 165057                 | 164969                 | 197573                 | 197578                | 197575                 | 203315    | 203315      | 239677     | 239677      | 212051       | 212051       | 239677           | 158660         | 239351                      | 141931                      |
| unique         | 2437       | 51       | 12898            | 198037    | 101240     | 112347      | 54                       | 275                    | 68                      | 103                | 3                        | 3                     | 12673                  | 12869                  | 12852                  | 32                     | 42                    | 70                     | 27        | 15          | 16         | 23          | 31           | 17           | 37               | 136652         | 52                          | 90                          |
| null_count     | 0          | 0        | 0                | 16497     | 7923       | 7923        | 11944                    | 38772                  | 32335                   | 92298              | 42119                    | 36362                 | 74798                  | 74620                  | 74708                  | 42104                  | 42099                 | 42102                  | 36362     | 36362       | 0          | 0           | 27626        | 27626        | 0                | 81017          | 326                         | 97746                       |
| null_perc      | 0.0        | 0.0      | 0.0              | 6.88      | 3.31       | 3.31        | 4.98                     | 16.18                  | 13.49                   | 38.51              | 17.57                    | 15.17                 | 31.21                  | 31.13                  | 31.17                  | 17.57                  | 17.56                 | 17.57                  | 15.17     | 15.17       | 0.0        | 0.0         | 11.53        | 11.53        | 0.0              | 33.8           | 0.14                        | 40.78                       |
| type           | OBJECT     | OBJECT   | OBJECT           | OBJECT    | FLOAT64    | FLOAT64     | FLOAT64                  | FLOAT64                | FLOAT64                 | FLOAT64            | OBJECT                   | OBJECT                | OBJECT                 | OBJECT                 | OBJECT                 | OBJECT                 | OBJECT                | OBJECT                 | FLOAT64   | FLOAT64     | INT64      | INT64       | FLOAT64      | FLOAT64      | FLOAT64          | OBJECT         | OBJECT                      | OBJECT                      |
| numeric_count  | 0.0        | 0.0      | 0.0              | 4.0       | 231754.0   | 231754.0    | 227733.0                 | 200905.0               | 207342.0                | 147379.0           | 0.0                      | 0.0                   | 159126.0               | 159168.0               | 159084.0               | 197568.0               | 197571.0              | 197572.0               | 203315.0  | 203315.0    | 239677.0   | 239677.0    | 212051.0     | 212051.0     | 239677.0         | 11.0           | 0.0                         | 0.0                         |
| numeric_mean   | nan        | nan      | nan              | 2725.0    | 37.5466    | -89.3383    | 8.0013                   | 55.4471                | 20.4771                 | 30.2957            | nan                      | nan                   | 5674359.4088           | 24461.8132             | 18714.0624             | 16.122                 | 8.4619                | 18.516                 | 1.5203    | 0.2123      | 0.2523     | 0.494       | 0.4684       | 0.4942       | 1.6369           | 480435229.9436 | nan                         | nan                         |
| numeric_std    | nan        | nan      | nan              | 2282.3599 | 5.1308     | 14.3595     | 8.4808                   | 42.0481                | 14.2046                 | 13.3636            | nan                      | nan                   | 2256170560.4281        | 2199488.5379           | 107152.7198            | 3294.7178              | 2223.9258             | 3232.7162              | 0.9968    | 0.4909      | 0.5218     | 0.73        | 0.851        | 0.9256       | 1.2525           | 787777420.8168 | nan                         | nan                         |
| numeric_min    | nan        | nan      | nan              | 700.0     | 19.1114    | -171.429    | 0.0                      | 1.0                    | 1.0                     | 0.0                | nan                      | nan                   | -1000.0                | -1000.0                | -1000.0                | -977.0                 | -947.0                | -991.0                 | 0.0       | 0.0         | 0.0        | 0.0         | 0.0          | 0.0          | 0.0              | 0.38           | nan                         | nan                         |
| numeric_25%    | nan        | nan      | nan              | 1675.0    | 33.9034    | -94.1587    | 2.0                      | 21.0                   | 9.0                     | 21.0               | nan                      | nan                   | 19.0                   | 21.0                   | 21.0                   | 0.0                    | 0.0                   | 1.0                    | 1.0       | 0.0         | 0.0        | 0.0         | 0.0          | 0.0          | 1.0              | 2.0            | nan                         | nan                         |
| numeric_50%    | nan        | nan      | nan              | 2100.0    | 38.5706    | -86.2496    | 5.0                      | 47.0                   | 19.0                    | 27.0               | nan                      | nan                   | 25.0                   | 27.0                   | 28.0                   | 0.0                    | 0.0                   | 1.0                    | 1.0       | 0.0         | 0.0        | 0.0         | 0.0          | 0.0          | 1.0              | 90650.0        | nan                         | nan                         |
| numeric_75%    | nan        | nan      | nan              | 3150.0    | 41.4374    | -80.0486    | 10.0                     | 84.0                   | 30.0                    | 37.0               | nan                      | nan                   | 35.0                   | 37.0                   | 40.0                   | 0.0                    | 0.0                   | 2.0                    | 2.0       | 0.0         | 0.0        | 1.0         | 1.0          | 1.0          | 2.0              | 937660073.5    | nan                         | nan                         |
| numeric_max    | nan        | nan      | nan              | 6000.0    | 71.3368    | 97.4331     | 53.0                     | 901.0                  | 94.0                    | 311.0              | nan                      | nan                   | 900000000000.0         | 871916284.0            | 8300000.0              | 886365.0               | 762487.0              | 827900.0               | 61.0      | 23.0        | 50.0       | 53.0        | 63.0         | 20.0         | 103.0            | 1705030148.0   | nan                         | nan                         |
| not_num_count  | 239677     | 239677   | 239677           | 239677    | 239677     | 239677      | 239677                   | 239677                 | 239677                  | 239677             | 239677                   | 239677                | 239677                 | 239677                 | 239677                 | 239677                 | 239677                | 239677                 | 239677    | 239677      | 239677     | 239677      | 239677       | 239677       | 239677           | 239677         | 239677                      | 239677                      |
| not_num_unique | 2437       | 51       | 12898            | 198038    | 1          | 1           | 1                        | 1                      | 1                       | 1                  | 4                        | 4                     | 12674                  | 12870                  | 12853                  | 21                     | 26                    | 33                     | 1         | 1           | 1          | 1           | 1            | 1            | 1                | 136653         | 53                          | 91                          |
| not_num_top    | 2017-01-01 | ILLINOIS | Chicago          | nan       | nan        | nan         | nan                      | nan                    | nan                     | nan                | Adult 18+                | Male                  | nan                    | nan                    | nan                    | nan                    | nan                   | nan                    | nan       | nan         | nan        | nan         | nan          | nan          | nan              | nan            | Shot - Wounded/Injured      | nan                         |
| not_num_freq   | 342        | 17556    | 10814            | 16497     | 239677     | 239677      | 239677                   | 239677                 | 239677                  | 239677             | 181324                   | 177945                | 74798                  | 74620                  | 74708                  | 131729                 | 123131                | 158689                 | 239677    | 239677      | 239677     | 239677      | 239677       | 239677       | 239677           | 81017          | 93926                       | 97746                       |
----- poverty summary -----
records: 884
|                | state         | year      | povertyPercentage   |
|:---------------|:--------------|:----------|:--------------------|
| not_null       | 884           | 884       | 832                 |
| unique         | 52            | 17        | 146                 |
| null_count     | 0             | 0         | 52                  |
| null_perc      | 0.0           | 0.0       | 5.88                |
| type           | OBJECT        | INT64     | FLOAT64             |
| numeric_count  | 0.0           | 884.0     | 832.0               |
| numeric_mean   | nan           | 2011.9989 | 12.5358             |
| numeric_std    | nan           | 4.9023    | 3.2052              |
| numeric_min    | nan           | 2004.0    | 5.4                 |
| numeric_25%    | nan           | 2008.0    | 10.2                |
| numeric_50%    | nan           | 2012.0    | 12.0                |
| numeric_75%    | nan           | 2016.0    | 14.7                |
| numeric_max    | nan           | 2020.0    | 21.8                |
| not_num_count  | 884           | 884       | 884                 |
| not_num_unique | 52            | 1         | 1                   |
| not_num_top    | UNITED STATES | nan       | nan                 |
| not_num_freq   | 17            | 884       | 884                 |
----- state_district_house summary -----
records: 10441
|                | year     | state      | congressional_district   | party    | candidatevotes   | totalvotes   |
|:---------------|:---------|:-----------|:-------------------------|:---------|:-----------------|:-------------|
| not_null       | 10441    | 10441      | 10441                    | 10441    | 10441            | 10441        |
| unique         | 24       | 51         | 54                       | 6        | 9927             | 10033        |
| null_count     | 0        | 0          | 0                        | 0        | 0                | 0            |
| null_perc      | 0.0      | 0.0        | 0.0                      | 0.0      | 0.0              | 0.0          |
| type           | INT64    | OBJECT     | INT64                    | OBJECT   | INT64            | INT64        |
| numeric_count  | 10441.0  | 0.0        | 10441.0                  | 0.0      | 10441.0          | 10441.0      |
| numeric_mean   | 1999.002 | nan        | 9.8731                   | nan      | 134527.5888      | 207642.2274  |
| numeric_std    | 13.8459  | nan        | 10.0171                  | nan      | 51607.2058       | 82626.4323   |
| numeric_min    | 1976.0   | nan        | 0.0                      | nan      | -1.0             | -1.0         |
| numeric_25%    | 1988.0   | nan        | 3.0                      | nan      | 100487.0         | 155451.0     |
| numeric_50%    | 2000.0   | nan        | 6.0                      | nan      | 129085.0         | 200445.0     |
| numeric_75%    | 2012.0   | nan        | 13.0                     | nan      | 165371.0         | 255577.0     |
| numeric_max    | 2022.0   | nan        | 53.0                     | nan      | 1165136.0        | 2656104.0    |
| not_num_count  | 10441    | 10441      | 10441                    | 10441    | 10441            | 10441        |
| not_num_unique | 1        | 51         | 1                        | 6        | 1                | 1            |
| not_num_top    | nan      | CALIFORNIA | nan                      | DEMOCRAT | nan              | nan          |
| not_num_freq   | 10441    | 1196       | 10441                    | 5513     | 10441            | 10441        |

## Columns filter
Select which columns to keep for the analysis
### Incidents
We keep `['date', 'state', 'city_or_county', 'latitude', 'longitude', 'congressional_district', 'n_participants_child', 'n_participants_teen', 'n_participants_adult', 'n_males', 'n_females', 'n_killed', 'n_injured', 'n_arrested', 'n_unharmed', 'n_participants', 'incident_characteristics1']`
### Poverty
We keep everything
### State District House
We keep everything

In [131]:
fincidents = incidents[['date', 'state', 'city_or_county', 'latitude', 'longitude', 'congressional_district', 'n_participants_child', 'n_participants_teen', 'n_participants_adult', 'n_males', 'n_females', 'n_killed', 'n_injured', 'n_arrested', 'n_unharmed', 'n_participants', 'incident_characteristics1']].copy()
print(f"All rows count: {fincidents.shape[0]}")
fincidents = fincidents[fincidents['n_participants'] != 0]
print(f"Zero participants removed: {fincidents.shape[0]}")
# fincidents[~fincidents.isna().any(axis=1)]
na_counts = fincidents.isna().sum(axis=1)

print(f"nan percentages:\n{na_counts.value_counts().sort_index() / fincidents.shape[0] * 100}")

fincidents[(na_counts > 6)]

All rows count: 239677
Zero participants removed: 214814
nan percentages:
0     84.764494
1      1.437057
2      2.443975
3      7.568874
4      0.114518
5      2.872718
6      0.188070
7      0.522312
8      0.085190
10     0.002793
Name: count, dtype: float64

,date,state,city_or_county,latitude,longitude,congressional_district,n_participants_child,n_participants_teen,n_participants_adult,n_males,n_females,n_killed,n_injured,n_arrested,n_unharmed,n_participants,incident_characteristics1
44,2014-10-25,MICHIGAN,Clarkston,42.7313,-83.3795,8.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Institution/Group/Business
172,2014-08-15,FLORIDA,Poinciana,28.1418,-81.4501,9.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,2.0,Armed robbery with injury/death and/or evidenc...
579,2015-04-20,ILLINOIS,Rockford,42.3014,-89.0912,17.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,2.0,Shots Fired - No Injuries
617,2014-05-21,ILLINOIS,Sterling,41.7922,-89.7334,17.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Armed robbery with injury/death and/or evidenc...
1394,2014-05-16,IOWA,Cedar Rapids,41.9841,-91.6276,1.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Armed robbery with injury/death and/or evidenc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238003,2015-03-08,SOUTH CAROLINA,Rock Hill,34.9169,-81.0107,5.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Officer Involved Incident
238871,2014-01-15,WISCONSIN,Milwaukee,43.0898,-87.9807,4.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Armed robbery with injury/death and/or evidenc...
239116,2014-01-06,NEW JERSEY,Bridgeton,39.4245,-75.2413,2.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Home Invasion
239261,2016-09-16,KENTUCKY,Louisville,38.2662,-85.8157,3.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Non-Shooting Incident
239346,2018-02-20,ILLINOIS,Carterville,37.7575,-89.0735,12.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,1.0,Shots Fired - No Injuries